/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[MediumId]
      ,[DateTime]
      ,[MediumDayStatusId]
      ,[Created]
      ,[CreatedBy]
      ,[Modified]
      ,[ModifiedBy]
      ,[Version]
  FROM [MediaData3BGAuto].[SimLog].[MediumDay]