<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="Singleton" type="InBetween.Manager,InBetween" objectUri="ChatApplication" />
			</service>
			<channels>
				<channel ref="http" port="7777" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>